<h1 class="text-center">Encrypt-Decrypt with AES</h1>
<br>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div>
      <div class="form-group">
        <div class="mb-3">
          <label for="cipherKey">Cipher Key</label>
          <input type="text" placeholder="Salt/Secret" [(ngModel)]="cipherKey" class="form-control" id="cipherKey">
        </div>

        <div class="mb-3">
          <label for="plainText">Encryption</label>
          <div class="input-group">
            <input class="input" type="text" placeholder="data to encrypt" [(ngModel)]="plainText" class="form-control"
              id="plainText">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="encryptGCM()">Encrypt</button>
            </div>
          </div>
        </div>

        Encrypted Text: {{encrypted}}
        <hr class="mb-4">

        <div class="mb-3">
          <label for="encryptText">Decryption</label>
          <div class="input-group">
            <input class="input" type="text" placeholder="data to decrypt" [(ngModel)]="encryptText"
              class="form-control" id="encryptText">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="decryptGCM()">Decrypt</button>
            </div>
          </div>
        </div>

        Decrypted Text: {{decrypted}}
        <hr class="mb-4">
      </div>
    </div>
  </div>
</div>